<% provide(:title, 'Editar Técnico') %>
<h1 style="margin-left: 110px;">Editar Técnico</h1>

<div class="row">
  <div class="col-md-6 col-md-offset-4">
    <%= form_for(@user) do |f| %>
            
      <%= f.label :name, "Nome" %>
      <%= f.text_field :name, class: 'form-control', autofocus: true, :placeholder => @user.errors.full_messages_for(:name).to_sentence %>
      
      <%= f.label :rf, "RF" %>
      <%= f.text_field :rf, class: 'form-control', :placeholder => @user.errors.full_messages_for(:rf).to_sentence, maxlength: 7, :disabled => true %>

      <%= f.label :email, "Endereço de email" %>
      <%= f.email_field :email, class: 'form-control', :placeholder => @user.errors.full_messages_for(:email).to_sentence %>
      
      <%= f.label :celular, "Número do celular"%>
      <%= f.phone_field :celular, class: 'form-control', :placeholder => @user.errors.full_messages_for(:celular).to_sentence %>
      
      <%= f.label :comunicador, "Número do comunicador"%>
      <%= f.phone_field :comunicador, class: 'form-control', :placeholder => @user.errors.full_messages_for(:comunicador).to_sentence %>
      
      <% if admin? %>
        <%= f.label :admin, class: "checkbox inline" do %>
          É administrador?&nbsp;&nbsp;
          <%= f.check_box :admin %>
        <% end %>
      <% end %>

      <%= f.label :password, "Senha" %>
      <%= f.password_field :password, class: 'form-control', :placeholder => @user.errors.full_messages_for(:password).to_sentence %>

      <%= f.label :password_confirmation, "Confirme sua senha" %>
      <%= f.password_field :password_confirmation, class: 'form-control', :placeholder => @user.errors.full_messages_for(:password_confirmation).to_sentence %>

      <%= f.submit "Salvar Mudanças", class: "btn btn-primary" %>
    <% end %>
  </div>
</div>