<%= render 'registros/registrosForm' %>

<div style="text-align: right">
  <a class="btn btn-primary noPrint" href="#" onclick="window.print();return false;">Imprimir Página</a>
  <%= link_to "Voltar", registros_path, class: "btn btn-primary noPrint" %>
</div>

<div class="row">
  <div class="col-md-6 col-md-offset-3">
    <h3 style="text-align: center; font-weight: bold;">Registro de frequência e chamados atendidos</h3>
  </div>
</div>

<div style="display: inline-block">
  <h3><%= @user.name %></h3>
  <h4><%= @user.rf %></h4>
</div>
<div style="float: right">
  <h3><%= @ano %></h3>
  <h4><%= traduz(Date::MONTHNAMES[@mes.to_i]) %></h4>
</div>

<div>
  <table class="table table-condensed table-striped">
    <thead>
      <tr>
        <th>Data</th>
        <th>Entrada</th>
        <th>Saída</th>
        <th>Tempo trabalhado</th>
        <th>Média de horas</th>
        <th>Chamados atendidos</th>
        <th>Chamados acumulados no mês</th>
        <th>Média de chamados</th>
        <th>Justificativa</th>
      </tr>
    </thead>
    <tbody id="corpo">
      <% if @registros.any? %>
        <% cont = 0.0 %>
        <% linha = 1.0 %>
        <% tempo = Time.at(0) - Time.at(0) %>
        <% @registros.each do |reg|  %>
          <% cont = cont + reg.n_chamados %>
          <tr>
            <td><%= reg.created_at.strftime("%d/%m/%y") %></td>
            <td><%= reg.created_at.strftime("%H:%M") %></td>
            <% if reg.updated_at == reg.created_at %>
              <td>---</td>
              <td>---</td>
            <% elsif reg.updated_at == Time.at(0) %>
              <td>Não fez logout</td>
              <td>---</td>
            <% else %>
              <td><%= reg.updated_at.strftime("%H:%M")%></td>
              <% time_diff = (reg.updated_at - reg.created_at) %>
              <td><%= Time.at(time_diff.to_i.abs).utc.strftime "%H:%M" %></td>
            <% end %>
            <% 
		tempo = tempo + time_diff if time_diff
	    %>
            <% horas = tempo/linha %>
            <td>
		<% if time_diff %>		
			<%= Time.at(horas.to_i.abs).utc.strftime "%H:%M" %>
		<% else %>
			---
		<% end %>
	    </td>
            <td><%= reg.n_chamados %></td>
            <td><%= cont.to_i %></td>
            <td><%= (cont / linha).round(2) %></td>
            <% if current_user.rf == 'f002746' || current_user.admin? %>
              <td class="td-reg" data-id="<%= reg.id %>">
                <div class="justificativa"><%= reg.justificativa.blank? ? "---" : reg.justificativa %></div>
                <div class="form-reg">
                  <%= form_tag updateReg_path, :method => 'put', remote: true, class: "form-tag" do %>
                    <div class="reg-text"><%= text_field_tag 'justificativa' %></div>
                    <%= hidden_field_tag :id, reg.id %>
                    <button class="botao-submit" type="submit">Salvar</button>
                  <% end %>
                </div>
                <div class="cancelar"><button>Cancelar</button></div>
              </td>
            <% else %>
              <td><%= reg.justificativa.blank? ? "---" : reg.justificativa %></td>
            <% end %>
          </tr>
          <% linha = linha + 1.0 %>
        <% end %>
      <% end %>
    </tbody>
  </table>
</div>
<div style="height: 150px"></div>
