<!DOCTYPE html>
<html>
  <head>
    <title><%= full_title(yield(:title)) %></title>    
    <%= include_gon %>
    <%= stylesheet_link_tag "application", media: "all" %>
    <%= javascript_include_tag "application" %> 
    <%= csrf_meta_tags %>
    <%= render 'layouts/shim' %>
  </head>
  <body>
    <%= render 'layouts/header' %>
    <% if !checaSidebar %>
    <%= render 'layouts/sidebar' %>
      <div class="container" style="width: 700px; margin-left: auto; margin-right: auto; padding-bottom: 100px;"> 
    <% else %>
      <div class="container">
    <% end %>
     	 
      <% flash.each do |message_type, message| %>
        <div class="alert alert-<%= message_type %>"><%= message %></div>
      <% end %>
      <%= yield %>  
      <div class="noPrint">
        <%= debug(params) if Rails.env.development? %>
      </div>
    </div>
    <div class="noPrint"><%= render 'layouts/footer' %></div>
  </body>
</html>
